.side_bar
  .side_bar__name
    .side_bar__logo
      .side_bar__masa masa
      .side_bar__icon
        = link_to "#", class: "side_bar__icon side_bar__icon--fa-edit" do
          = icon("fa fa-edit", class: "side_bar__icon")
        = link_to "#", class: "side_bar__icon side_bar__icon--fa-cog" do
          = icon("fa fa-cog", class: "side_bar__icon")
  .side_bar__group
    .side_bar__zero
      .side_bar__one techcamp
      .side_bar__two まだメッセージがありません